
body {
	text-align: center;
	background: #4cc4a6;

}

#TopContent {
	margin: 20px;

}

#MidContent {
	margin: 20px;
}

#BtmContent {
	margin: 20px;
}

.glyphicon {
	font-size: 70px;
}

.col-lg-6 {
	padding: 5px;
}